html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

.admin-body {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="jmeno"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.admin-logged {
	max-width: 1000px;
	width: 100%;
	margin: auto;
}

#pages .btn {
	margin-right: 0.25em;
}